body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #00ff6a;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.content {
    margin: 20px;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
}

.alert.success {
    background-color: #4CAF50;
    color: white;
}

.alert.danger {
    background-color: #f44336;
    color: white;
}
