@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
* {
    background-color: #ced700 !important;
    color: #5f620c !important;
    font-family: "Chicle", serif !important;
}

iframe {
    display: none;
}
